@font-face {
  font-family: noto-sans;
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: noto-sans;
  src: url("/fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

:root {
  --color-bg: #eff5f1ff;
  --color-bg--brd: #c5d2cbff;
  --color-mn: #02974eff;
  --color-txt: #0f1512ff;
  --gb-padding: 26px;
  --gb-content-max-wd: 720px;
  --header-hg: 76px;
  --brand-hg: 24px;
  --title-size: 2em;
  --txt-size: 1em;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: noto-sans, sans-serif;
  font-size: 18px;
  display: grid;
  place-items: center;
  color: var(--color-txt);
  min-height: 100vh;
}

h1 {
  font-weight: 500;
  font-size: var(--title-size);
  line-height: 38px;
}

p {
  font-size: var(--txt-size);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: calc(var(--gb-content-max-wd) + var(--gb-padding));
  padding: 22px;
}

.header {
  width: 100%;
  height: var(--header-hg);
  position: fixed;
  left: 0;
  top: 0;
  bottom: auto;
  display: grid;
  place-items: center;
  padding: 0 var(--gb-padding);
  background-color: var(--color-bg);
  border-top: none;
  border-bottom: 3px solid var(--color-bg--brd);
  z-index: 2000;
}

.header-content {
  width: 100%;
  max-width: 1280px;
}

.brand {
  width: auto;
  height: var(--brand-hg);
}

.brand-iso {
  fill: var(--color-mn);
}

.brand-logo {
  fill: var(--color-txt);
}

.nixcam-chicken {
  width: 220px;
  height: auto;

  --border-width: 2px;
  --blur-amount: 10px;

  /*
  * TODO Change in future
  * I don't know how is works*/
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    transparent var(--border-width),
    rgba(0, 0, 0, 0.5) calc(var(--border-width) + var(--blur-amount)),
    rgba(0, 0, 0, 1) calc(var(--border-width) + var(--blur-amount) + 5px),
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    transparent var(--border-width),
    rgba(0, 0, 0, 0.5) calc(var(--border-width) + var(--blur-amount)),
    rgba(0, 0, 0, 1) calc(var(--border-width) + var(--blur-amount) + 5px),
    rgba(0, 0, 0, 1) 100%
  );
}

@media (max-width: 820px) {
  :root {
    --header-hg: 66px;
    --brand-hg: 22px;
  }

  body {
    font-size: 16px;
  }

  .main {
    width: 100%;
  }

  .nixcam-chicken {
    width: 50%;
  }
}

@media (max-height: 720px) {
  body {
    padding-top: var(--header-hg);
  }
}
