---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Contact from "@components/Contact.astro";
---

<Layout title="Expertos en instalaciones eléctricas y sistemas de seguridad - Nixcam">
  <img
    src="/assets/nixcam-chiken.webp"
    alt="Imagen de un loro atolero con casco de constructor"
    class="nixcam-chicken"
  />
  <h1>Sitio web en construcción</h1>
  <p>
    Como te imaginaras, construir una web genial requiere algo de tiempo y
    esfuerzo (y muchas tazas de cafe), asi que no te preocupes, en menos de lo
    que esperas esta pagina estará disponible, agradecemos tu comprensión.
  </p>
  <Contact />
</Layout>
