<svg
  class="brand"
  version="1.1"
  viewBox="0 0 195.79 33.867"
  xmlns="http://www.w3.org/2000/svg"
>
  <g transform="matrix(1.9069 0 0 1.9069 382.55 -105.46)">
    <g transform="matrix(.49894 0 0 .49894 -200.62 56.133)">
      <g class="brand-iso">
        <path
          d="m23.283 16.933a6.35 6.35 0 0 1-6.35 6.35 6.35 6.35 0 0 1-6.35-6.35 6.35 6.35 0 0 1 6.35-6.35 6.35 6.35 0 0 1 6.35 6.35z"
        ></path>
        <path
          d="m16.146 0.074219c-2.9623 0.13457-5.9159 1.0438-8.5352 2.7715-6.9848 4.607-9.5602 13.682-6.0371 21.271a2.6458 2.6458 0 0 0 3.5137 1.2852 2.6458 2.6458 0 0 0 1.2871-3.5137c-2.4361-5.2479-0.67908-11.44 4.1504-14.625 4.8295-3.1854 11.212-2.3624 15.076 1.9434 3.8644 4.3058 3.9953 10.74 0.30859 15.199-3.6867 4.4589-10.032 5.5398-14.986 2.5527a2.6458 2.6458 0 0 0-3.6309 0.90039 2.6458 2.6458 0 0 0 0.89844 3.6309c7.1657 4.3202 16.465 2.7357 21.797-3.7129s5.1396-15.878-0.44922-22.105c-3.493-3.892-8.4554-5.8219-13.393-5.5977z"
        ></path>
      </g>
      <g class="brand-logo" stroke-width="1.1455" aria-label="Nixcam">
        <path
          d="m55.813 1.7506q5.4524 0 8.5058 3.4459 3.0534 3.4023 3.0534 9.7271v17.884h-7.0664v-17.666q0-3.664-1.7448-5.4961-1.7012-1.8756-4.7545-1.8756-3.2278 0-5.1907 2.0065-1.9193 1.9629-1.9193 5.845v17.186h-7.0664v-30.534h6.8483v3.7077q1.5703-2.0937 3.9258-3.1406 2.3555-1.0905 5.4088-1.0905z"
        ></path>
        <path
          d="m72.535 9.3404h6.8046v23.467h-6.8046zm3.4023-3.2715q-1.8756 0-3.0534-1.0905-1.1777-1.0905-1.1777-2.7044 0-1.6139 1.1777-2.7044 1.1777-1.0905 3.0534-1.0905 1.8756 0 3.0534 1.0469 1.1777 1.0469 1.1777 2.6172 0 1.7012-1.1777 2.8353-1.1777 1.0905-3.0534 1.0905z"
        ></path>
        <path
          d="m101.38 32.808-5.1471-7.1972-5.3216 7.1972h-7.4153l9.0292-11.821-8.7239-11.646h7.6334l4.9726 6.8483 5.1035-6.8483h7.2408l-8.7239 11.472 9.0728 11.995z"
        ></path>
        <path
          d="m122.58 33.157q-3.7513 0-6.761-1.5267-2.9661-1.5703-4.6673-4.3183-1.6575-2.748-1.6575-6.2376t1.6575-6.2376q1.7012-2.748 4.6673-4.2747 3.0098-1.5703 6.761-1.5703 3.7077 0 6.4557 1.5703 2.7916 1.5267 4.0566 4.4056l-5.278 2.8353q-1.832-3.2278-5.278-3.2278-2.6608 0-4.4056 1.7448t-1.7448 4.7545q0 3.0097 1.7448 4.7545t4.4056 1.7448q3.4896 0 5.278-3.2278l5.278 2.8789q-1.265 2.7916-4.0566 4.362-2.748 1.5703-6.4557 1.5703z"
        ></path>
        <path
          d="m160.72 9.3404v23.467h-6.4993v-2.7044q-2.5299 3.0534-7.3281 3.0534-3.3151 0-6.0195-1.4831-2.6608-1.4831-4.1875-4.2311-1.5267-2.748-1.5267-6.3684 0-3.6204 1.5267-6.3684 1.5267-2.748 4.1875-4.2311 2.7044-1.4831 6.0195-1.4831 4.4928 0 7.0227 2.8353v-2.4863zm-12.65 18.233q2.5736 0 4.2747-1.7448 1.7012-1.7884 1.7012-4.7545t-1.7012-4.7109q-1.7012-1.7884-4.2747-1.7884-2.6172 0-4.3183 1.7884-1.7012 1.7448-1.7012 4.7109t1.7012 4.7545q1.7012 1.7448 4.3183 1.7448z"
        ></path>
        <path
          d="m195.08 8.9915q4.4056 0 6.9791 2.6172 2.6172 2.5736 2.6172 7.7643v13.435h-6.8046v-12.388q0-2.7916-1.1777-4.1439-1.1341-1.3958-3.2715-1.3958-2.3991 0-3.7949 1.5703-1.3958 1.5267-1.3958 4.58v11.777h-6.8046v-12.388q0-5.5397-4.4492-5.5397-2.3555 0-3.7513 1.5703-1.3958 1.5267-1.3958 4.58v11.777h-6.8046v-23.467h6.4993v2.7044q1.3086-1.4831 3.1842-2.2682 1.9193-0.78515 4.1875-0.78515 2.4863 0 4.4928 1.0032 2.0065 0.95963 3.2278 2.8353 1.4394-1.832 3.6204-2.8353 2.2246-1.0032 4.8418-1.0032z"
        ></path>
      </g>
    </g>
  </g>
</svg>
