---
import { Mail, Phone, Facebook, Instagram } from "lucide-astro";
---

<section class="contact-section">
  <ul class="contact-list">
    <li class="contact-item">
      <Mail />
      <a
        href="mailto:contacto@nixcam.com"
        class="contact-item-link color-txt-black">contacto@nixcam.com</a
      >
    </li>
    <li class="contact-item">
      <Instagram />
      <a href="https://www.instagram.com/nixcam.soluciones" class="contact-item-link color-txt-black">nixcam.soluciones</a>
    </li>
    <li class="contact-item">
      <Facebook />
      <a href="https://www.facebook.com/nixcam.soluciones" class="contact-item-link color-txt-black">nixcam.soluciones</a>
    </li>
    <li class="contact-item">
      <Phone />
      <a href="tel:6181275557" class="contact-item-link color-txt-black"
        >618 127 5557</a
      >
    </li>
  </ul>
</section>

<style>
  :root {
    --contact-item-icon-sz: 1.2em;
  }

  .contact-section {
    padding: 20px 0px;
  }

  .contact-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .contact-item {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  svg {
    width: var(--contact-item-icon-sz);
    height: var(--contact-item-icon-sz);
    stroke: var(--color-txt);
  }

  .contact-item-link {
    color: var(--color-mn);
    text-decoration: none;
  }

  .contact-item-link:hover,
  .contact-item-link:active {
    text-decoration: underline;
  }

  .color-txt-black {
    color: var(--color-txt);
  }
</style>
