---
import Header from "@components/Header.astro";
import "@styles/main.css";

interface Props {
  title: String;
}

const { title = "Nixcam" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>
      {title}
    </title>
  </head>
  <body>
    <Header />
    <main class="main">
      <slot />
    </main>
  </body>
</html>
